
spring:
  security:
    user:
      name: user
      password: pass
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:mysql://localhost:3306/customer-service?useSSL=false&allowPublicKeyRetrieval=True
    username: root
    password: P@ssw0rd
    driver-class-name: com.mysql.cj.jdbc.Driver


server:
  port: 8080
